.index-container {
    max-width: 600px;
    margin: 0 auto;
}

.index-header {
    text-align: right;
}
.share-container {
    margin: 10px 0;
    position: absolute;
    right: 20px;
}

.copyright {
    padding: 25px;
    text-align: center;
}
