#root {
    background: #0B0E11;
}

body {
    background: #0B0E11 !important;
    touch-action: pan-y;
}

h1 {
    font-size: 32px;
}

.site-layout .site-layout-background {
    background: #fff;
    padding: 0 0;
    margin-top: 64px;
}

.ant-layout-header {
    padding: 0 10px;
    background: #12161C !important;
}

.ant-layout-footer {
    background: #0B0E11;
    color: white;
}

.logo {
    float: left;
    height: 48px;
    margin: 8px 12px 8px 0;
    background: rgba(255, 255, 255, 0.2);
}

.drawer {
    float: right;
    height: 48px;
    margin: 8px 0 8px 0;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .drawer { display: none; }
}

@media screen and (max-width: 600px) {
    .menu-item { visibility: hidden; }
}

.ant-btn {
    margin: 0;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    border-radius: 4px;
    box-shadow: none;
}

.ant-table, .ant-list {
    border: 0;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
    font-size: 16px;
}

.ant-table-thead > tr > th, .ant-table-footer {
    color: #707A8A;
    background: white;
}

.menu-item {
    color: white;
    margin-right: 20px;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
}

.mobile-menu-item {
    display: flex;
    overflow-y: hidden;
    transition: all 0.4s ease 0s;
    flex-direction: column;
    font-size: 18px;
    padding: 10px;
}

.mobile-menu-item > a {
    color: white;
}

.mobile-menu-item > a > span {
    margin-right: 10px;
}