#root {
    background: #0B0E11;
}

body {
    background: #0B0E11 !important;
    touch-action: pan-y;
}

.site-layout .site-layout-background {
    background: #fff;
    padding: 0 0;
    margin-top: 64px;
}

.ant-layout-header {
    padding: 0 10px;
    background: #12161C !important;
}

.ant-layout-footer {
    background: #0B0E11;
    color: white;
}

.logo {
    float: left;
    height: 48px;
    margin: 8px 12px 8px 0;
    background: rgba(255, 255, 255, 0.2);
}

.drawer {
    float: right;
    height: 48px;
    margin: 8px 0 8px 0;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .drawer { display:none; }
}

.ant-table, .ant-list {
    border: 0;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
}

.ant-table-thead > tr > th, .ant-table-footer {
    color: #707A8A;
    background: white;
}
